extend ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
   h1( class = "mb-4") Thêm nhóm quyền 

   

   form(
      action=`/admin/roles/create`
      method = "POST"
      ) 
      div(class = "from-group")
         label(form="title") Tiêu đề 
         input(
            type="text"
            class = "form-control"
            id = "title"
            name = "title"
            required 
            ) 

      div(class = "form-group")
         label(for="desc") Miêu tả 
         input(
            type="text"
            class = "form-control"
            id = "desc" 
            name = "description"
         ) 

      div(class = "form-group")
         button(
            type="submit"
            class = "btn btn-primary"
         ) Thêm mới  
 



   