extend ../../layouts/default.pug

block main 
   h1( class = "mb-4") Them nhom quyen 

   form(
      action=`/admin/roles/create`
      method = "POST"
      ) 
      div(class = "from-group")
         label(form="title") Tieu de
         input(
            type="text"
            class = "form-control"
            id = "title"
            name = "title"
            required 
            ) 

      div(class = "form-group")
         label(for="desc") Mieu ta 
         input(
            type="text"
            class = "form-control"
            id = "desc" 
            name = "description"
         ) 

      div(class = "form-group")
         button(
            type="submit"
            class = "btn btn-primary"
         ) them moi 
 



   