doctype html 
html 
     head 
          title #{pageTitle}
          // nhung file css . 
          link(rel="stylesheet", href="/css/style.css")
     body 
          include ../partials/header.pug

          block main

          include ../partials/footer.pug

          // nhung file js . 
          script(src ="/js/script.js")

